.add-note-body {
  width: 35%;
}

.add-note-form {
  width: 100%;
  margin-bottom: 20px;
  background: white;
  padding: 30px;
  border-radius: 5px;
}

.add-note-form input,
textarea {
  width: 100%;
  margin-bottom: 10px;
  height: 40px;
  padding: 10px;
  font-size: 0.9em;
  font-weight: bold;
}

.add-note-form textarea {
  height: 150px;
  min-width: 100%;
  max-width: 100%;
}

.note-button {
  width: 100%;
  height: 40px;
  border: none;
  letter-spacing: 2px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

.add-btn{
  background: darkolivegreen;
}

.update-btn{
  background: darkgoldenrod;
}

.note-button:hover {
  letter-spacing: 3px;
  color: darkslategray;
  background-color: rgb(211, 236, 168);
}

.check {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}

.check-task {
  width: 15px !important;
  margin: 0px !important;
}

.check-info {
  font-weight: bold;
  font-size: 0.8em;
  letter-spacing: 1.4px;
  margin-left: 15px;
}
