.show-notes-body {
  width: 62%;
}

.card {
  margin-bottom: 20px;
  background: white;
  padding: 30px;
  border-radius: 5px;
}

.title {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
}

.content {
  margin: 15px 0px;
  text-align: justify;
  letter-spacing: 1.3px;
}

.task {
  margin-bottom: 15px;
  font-size: 11px;
  font-weight: bold;
  width: 17%;
  padding: 5px 0px;
  color: white;
  letter-spacing: 1.7px;
  text-align: center;
  border-radius: 2px;
}

.task-finished {
  background: darkcyan;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.task-finished:hover {
  background: rgb(0, 53, 53);
}

.button-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.delete-button {
  width: 50%;
  border: none;
  padding: 8px;
  font-weight: bold;
  letter-spacing: 3px;
  border-radius: 3px;
  background: darkred;
  color: white;
  font-size: 11px;
  cursor: pointer;
  opacity: 1;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.delete-button:hover {
  opacity: 0.5;
}

.edit-button {
  width: 45%;
  border: none;
  padding: 8px;
  font-weight: bold;
  letter-spacing: 3px;
  border-radius: 3px;
  background: darkgoldenrod;
  color: white;
  font-size: 11px;
  cursor: pointer;
  opacity: 1;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.edit-button:hover {
  opacity: 0.5;
}

.greatest{
  font-weight: bold;
  text-align: center;
  letter-spacing: 3px;
  font-size: 1.7em;
}

.empty{
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 1.8px;
  margin-bottom: 10px;
}
.para{
  font-weight: bold;
  font-size: .9em;
}
